body{

}

#Titulo{
	color: #70e5ae;
	}
 
#Principal{
	color: gray;
	background: url(../image/canada.jpg) center/cover no-repeat fixed ;
<!--
	background-image: url(../image/canada.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
-->
	
	<!-- background-position: center; -->
	
	
}
	
.text_green{
	color: green;
	}